.themeFontColor {
  color: coral;
}

.banner-text {
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
}

.subtitle {
  font-style: italic;
  color: coral;
  font-size: x-large;
}

tr {
  cursor: pointer;
}

.logo {
  height: 150px;
  cursor: pointer;
}